/* 
Keyword colors can be found at http://colours.neilorangepeel.com/
*/

/* border-box fix */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
}
h1,
h2 {
  text-transform: uppercase;
}

/* Add padding to all of the .container child elements */
.container > * {
  padding: 20px;
}
.container {
  color: white;
  font-family: helvetica, arial, sans-serif;
  max-width: 1080px;
  margin: 0 auto;
}

header {
  background: skyblue;
}
main {
  background: slategray;
  position: relative;
}
nav {
  background: cadetblue;
  position: sticky;
  z-index: 100;
  top: 0;
}
aside {
  background: seagreen;
}
footer {
  background: darkslateblue;
}

@media (min-width: 600px) {
  nav {
    float: left;
    width: 25%;
  }
  main {
    float: left;
    width: 75%;
  }
  aside {
    clear: both;
  }
}

@media (min-width: 850px) {
  main {
    width: 50%;
  }
  aside {
    width: 25%;
    clear: none;
    float: right;
  }
  footer {
    clear: both;
  }
}

.absolute {
  background-color: red;
  width: 100px;
  padding: 10px;
  top: 0px;
  right: 0px;
  position: absolute;
  border-top-left-radius: 10%;
  border-bottom-left-radius: 10%;
}
